
/*customize css*/
/*
.md-content {
    margin-right: 12.1rem;
}
*/

.md-typeset h2, .md-typeset h3, .md-typeset h4 {
    font-weight: 600;
}

/* content */
.md-typeset {
    font-size: .75rem;
}

/* nav & outline */
.md-nav {
    font-size: .65rem;
}